https://www.kaggle.com/datasets/cocolicoq4/employee-churn-at-dunder-mifflin-paper-company

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/office_churn_dataset.csv')
df.head()

,EmployeeID,Branch,Tenure,Salary,Department,JobSatisfaction,WorkLifeBalance,CommuteDistance,MaritalStatus,Education,PerformanceRating,TrainingHours,OverTime,NumProjects,YearsSincePromotion,EnvironmentSatisfaction,ChurnLikelihood
0,1,San Francisco,4.0,63000.0,Legal,3.0,3.0,Long,Married,High School,3.000000,88.0,True,3.0,0.0,2.0,Highly Likely to Churn
1,2,Chicago,14.0,72000.0,Accounting,4.0,4.0,Short,Single,Bachelor,3.666667,30.0,True,3.0,2.0,3.0,Moderately Likely to Churn
2,3,Miami,4.0,40000.0,Quality Assurance,3.0,3.0,Medium,Single,High School,3.666667,64.0,NaN,NaN,0.0,4.0,Highly Likely to Churn
3,4,Scranton,2.0,55000.0,Legal,3.0,3.5,Short,Married,Bachelor,3.666667,30.0,True,4.0,0.0,3.0,Moderately Likely to Churn
4,5,Scranton,10.0,55500.0,Legal,3.0,3.0,Medium,Married,Bachelor,3.333333,18.0,NaN,4.0,1.0,3.0,Moderately Likely to Churn

In [7]:
colunas = {
    'EmployeeID' : 'id',
    'Branch' : 'filial',
    'Tenure' : 'tempo_funcionario',
    'Salary' : 'salario_anual',
    'Department' : 'setor',
    'JobSatisfaction' : 'satisfacao_trabalho',
    'WorkLifeBalance' : 'balanco_vida_trabalho',
    'CommuteDistance' : 'distancia_trabalho',
    'MaritalStatus' : 'estado_civil',
    'Education' : 'escolaridade',
    'PerformanceRating' : 'avaliacao_performance',
    'TrainingHours' : 'horas_treinamento',
    'OverTime' : 'horas_extras',
    'NumProjects' : 'qtd_projetos',
    'YearsSincePromotion' : 'anos_ult_promocao',
    'EnvironmentSatisfaction' : 'satisfacao_ambiente',
    'ChurnLikelihood' : 'churn_probabilidade' 
}

In [10]:
df.rename(
    columns = colunas,
    inplace = True
)
df.head()

,id,filial,tempo_funcionario,salario_anual,setor,satisfacao_trabalho,balanco_vida_trabalho,distancia_trabalho,estado_civil,escolaridade,avaliacao_performance,horas_treinamento,horas_extras,qtd_projetos,anos_ult_promocao,satisfacao_ambiente,churn_probabilidade
0,1,San Francisco,4.0,63000.0,Legal,3.0,3.0,Long,Married,High School,3.000000,88.0,True,3.0,0.0,2.0,Highly Likely to Churn
1,2,Chicago,14.0,72000.0,Accounting,4.0,4.0,Short,Single,Bachelor,3.666667,30.0,True,3.0,2.0,3.0,Moderately Likely to Churn
2,3,Miami,4.0,40000.0,Quality Assurance,3.0,3.0,Medium,Single,High School,3.666667,64.0,NaN,NaN,0.0,4.0,Highly Likely to Churn
3,4,Scranton,2.0,55000.0,Legal,3.0,3.5,Short,Married,Bachelor,3.666667,30.0,True,4.0,0.0,3.0,Moderately Likely to Churn
4,5,Scranton,10.0,55500.0,Legal,3.0,3.0,Medium,Married,Bachelor,3.333333,18.0,NaN,4.0,1.0,3.0,Moderately Likely to Churn